.top-menu {
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    transition: background-color 0.3s;
  }

  &_logo_input {
    display: flex;
    align-items: center;
  }

  &_logo {
    width: 40px;
    height: 40px;
  }

  &_title {
    text-transform: uppercase;
    color: rgb(25, 101, 25);
    margin-left: 10px;
  }

  &_input {
    width: 300px;
    flex: 1;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 60px;
  }
}
